.radioContainer {
  margin-top: 20px;
}

.RadioButtonGroup {
  min-width: 550px;
  max-width: 600px;
  margin: 20px auto 0;
}

.commentBox {
  padding-bottom: 20px;
}
.commentBox h4 {
  display: inline-block;
  padding-right: 10px;
}

.RadioButtonGroup:after {
  content: "";
  clear: both;
  display: table;
}